{:paths ["src/main/clojure"]
 :deps {com.intellij/openapi {:mvn/version "7.0.3"}
        com.github.clojure-lsp/clojure-lsp-server {:mvn/version "2022.12.09-15.51.10"}
        org.intellij.clojure/ClojureKit {:local/root "libs/clojure-kit-2020-3.1-lib.jar"}
        markdown-clj/markdown-clj {:mvn/version "1.11.4"}}}
